body {
    margin: 0px;
    font-family:'lucida console';
    background-color: #7F00FF;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #9999FF;
    color: white;
    font-family: 'lucida sans';
}

header .have-border {
    border: 2px white solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div h1 {
    text-align: center;
}

header div nav {
    text-align: center;
    text-decoration: underline;
    padding-top: 1vh;
}

a, a.visted {
    color: white;
}

#settins {
    justify-items: center;
}

header form {
    text-align: center;
}

header form div input{
    max-width: 25vw;;
}

#search input, #search button {
    margin: 1vh;
    background-color:  #CCE5FF;
    color: #9B5BFF;
}

#settings {
    padding: 1vh;
}

#playlist-title {
    text-align: center;
    text-decoration: underline;
    margin-top: 7vh;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    flex-basis: 25%;
}

#gallery div {
    flex-basis: 25%;
    margin-top: 10vh;
}

#gallery div img {
    width: 15rem;
    height: auto;
}

#gallery div p {
    margin: 0px;
    /*max-width: 15vw;
    margin-left: 5vw;*/
}

@media (max-width: 500px) {
    #gallery {
        flex-direction: column;
        flex-basis: 100%;
    }
}