body {
    margin: 0px;
    font-family:'lucida console';
    background-color: #7F00FF;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #8484ff;
    color: white;
    font-family: 'lucida sans';
    top: 0%;
    position: sticky;
}

header .have-border {
    border: 2px white solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div h1 {
    text-align: center;
}

header div nav {
    text-align: center;
    text-decoration: underline;
    padding-top: 1vh;
}

a, a.visted {
    color: white;
}

#settins {
    justify-items: center;
}

header form {
    text-align: center;
}

header form div input{
    max-width: 25vw;;
}

#search input, #search button {
    margin: 1vh;
    background-color:  #CCE5FF;
    color: #7925ff;
}

#settings {
    padding: 1vh;
}

#playlist-title {
    text-align: center;
    text-decoration: underline;
    margin-top: 7vh;
    /*margin-bottom: 10vh;*/
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    flex-basis: 25%;
}

#gallery div {
    flex-basis: 25%;
    margin-top: 10vh; /* get rid of and apply bottom margin for title if using widget */
}

#gallery div img {
    width: 15rem;
    height: auto;
}

#gallery div p {
    margin: 0px;
}

#frame {
    padding: 0px;
    height: 81px; /* remove excess height for the widget */
}

#remove {
    color: red;
}

#menu {
    padding: 0.5vw 1vh;
    background-color: black;
}

@media (max-width: 950px) {
    #gallery {
        flex-basis: 33%;
    }
}

@media (max-width: 800px) {
    #gallery {
        flex-basis: 50%;
    }
}


@media (max-width: 500px) {
    #gallery {
        flex-basis: 100%;
    }
}